

body {
    background-color: #fff;
}

#container {
    background-color:#848482;
    border: 5px solid black;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
}

h1 {
    text-align: center;
    color:black;
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color:#98AFC7;

}

#output {
    margin: 25px auto;
    font-size: 26px;
    color: white;
}